body {
  background-color: blue;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  position: sticky;
}
.logo {
  height: 10vh;
  width: 10vh;
  background-color: white;
  border-radius: 50%;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin: 5px;
  color: white;
}

.button1 {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border-width: 2px;
  color: white;
  background-color: blue;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  height: 50vh;
}

.owl {
  height: 10vh;
  width: 10vh;
  background-color: white;
  border-radius: 50%;
}
.title {
  color: white;
  font-size: 5vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  color: white;
  padding-left: 10vh;
  padding-right: 10vh;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button2 {
  height: 60px;
  width: 150px;
  border-radius: 30px;
  border-width: 2px;
  color: blue;
  background-color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

.bottomLeft {
  color: white;
  writing-mode: vertical-rl;
}

.bottomMiddle {
  color: white;
}

.circle1 {
  height: 7vh;
  width: 7vh;
  background-color: white;
  border-radius: 50%;
}
.circle2 {
  height: 7vh;
  width: 7vh;
  background-color: white;
  border-radius: 50%;
}
.circle3 {
  height: 7vh;
  width: 7vh;
  background-color: white;
  border-radius: 50%;
}
.circle4 {
  height: 7vh;
  width: 7vh;
  background-color: white;
  border-radius: 50%;
}
